button {
    width: 58px;
    height: 58px;
    color: rgb(43, 1, 1);
    background-color: rgb(130, 179, 195);
    border-radius: 5px;
    padding: 0;
    font-size: 50px;
}

.input {
    display: flex;
    justify-content: space-around;
}

#input {
    width: 194px;
    height: 80px;
    background-color: rgb(230, 230, 230);
    text-align: right;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
}

#ngtInput {
    width: 20px;
    height: 80px;
    background-color: rgb(230, 230, 230);
    text-align: right;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(140, 132, 168), rgb(76, 72, 100));
}

.container {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 100);
    box-shadow: 0px 5px rgb(65, 65, 78);
}

.buttons {
    display: flex;
}

#clr {
    width: 116px;
    background-color: rgb(196, 55, 55)
}

#clr-btn {
    display: flex;
    justify-content: space-between;
}

#eql {
    background-color: rgb(84, 169, 84);
}

.operator {
    background-color: rgb(175, 175, 175);
}

.decimal {
    background-color: rgb(112, 84, 125);
}

#negative {
    background-color: rgb(171, 159, 112)
}